.blog-post .post__author-name {
    font-size: 10px;
}

.post-category {
    display: inline-block;
    border-radius: 3px;
    padding: 4px 9px;
    color: #fff !important;
    font-size: 8px;
    text-transform: uppercase;
    margin-bottom: 20px;
}